**/__pycache__
data.json
config.yml

# coverage based artifacts
htmlcov
.coverage
coverage.lcov

# build specific artifacts
dist

# virtual environments
venv/
.venv/
env/

# IDE-specific directories
.vscode
.idea
*~

# translation specific files
*/locale/*/LC_MESSAGES/*.mo
*.pot
